
@media (max-width:600px) {
  .wrapper {
    display: grid;
    grid-template: auto 1fr / repeat(4, 1fr);
    gap: 1em;
    background-color: inherit;
    padding: 16px;
  }

  .search{
    grid-column: 1 / span 4;
    grid-row: 2 ;
    justify-items: stretch;
  }

  .filt{
    grid-column: 1 / span 4;
    grid-row: 3;
    width: 100%
    
  }

  .con{
    grid-column: 1 /span 4;
    grid-row: 5;
    align-items: center;
  }
  .stats{
    grid-column: 1 /span 4;
    grid-row: 4;
  }

  .songs{
    grid-column: 1 /span 4;
    grid-row: 6;
  }
  
}

@media (600px < width <900px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 1em;
    justify-items: stretch;
  }
  
}

@media (min-width:900px) {
  .wrapper {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    gap: 1em;
    justify-items: stretch;
  }

  .search{
    grid-column: 3 / span 8;
    grid-row: 3 / span 1;
    width: 100%;
    justify-items: stretch;
  }

  .filt{
    grid-column: 6 / span 1;
    grid-row: 4 / span 1;
    align-items: center;
  }

  .con{
    grid-column: 2 /span 10;
    grid-row: 5;
    align-items: center;
  }
  .stats{
    grid-column: 3 /span 3;
    grid-row: 6;
  }

  .songs{
    grid-column: 6 /span 5;
    grid-row: 6;
  }
  
}

